<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="eric.bloch+set@gmail.com">

    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Set</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="set.css" rel="stylesheet">

    <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
        <defs>
            <g id="diamond">
                <polygon stroke="inherit" fill="inherit" points="18,10 36,50 18,90 0,50" />
            </g>
            <g id="squiggle">
                <rect stroke="inherit" fill="inherit" x="0" y="15" width="36" height="66" />
            </g>
            <g id="oval">
                <path d="M 36 30 
                         A 18 18 180 0 0 0 30 
                         L 0 66
                         A 18 18 180 0 0 36 66
                         L 36 30 " /> 
    
            </g>
            <g id="line-1">
                <g class="line-pattern">
                    <path d="M0,0 l5,5"/>
                </g>
            </g>
        </defs>
    </svg>

    <script src="jspm_packages/system.js"></script>
    <script src="jspm_packages/npm/angular@1.4.7/angular.min.js"></script>
    <script src="config.js"></script>
    <script>
       System.import('./lib/main');
    </script>

  </head>

  <body ng-controller="game as game" ng-keypress="game.keyPress($event)" tabindex="0">
    <div class="container">
    <div class="starter-template">
      <div id="error" style="display: none" class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" ng-click="game.dismissError()" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="msg"/>
      </div>
      <div id="message" style="display: none" class="alert alert-info alert-dismissible" role="alert">
        <span class="msg"/>
      </div>
      <div id="players">
        <h4 style="" >Players</h4> 
        <ul class="players">
          <li class="player" ng-cloak ng-repeat="player in game.players"> {{ player.name }} </li>
        </ul>
      </div>
      <div id="last-set">
        <h4>Set</h4>
      </div>
      <!-- <h1>SET</h1> -->
      <!-- <p class="lead">Give it a try!<br></p> -->
      <div id="buttons">
        <button class="btn btn-default btn-lg" ng-click="game.checkForSet()"  type="button">Set</button> 
        <button class="btn btn-default btn-lg" ng-click="game.noset()" type="button">No Set</button> 
        <button class="btn btn-default btn-lg" ng-click="game.hint()" type="button">Hint</button> 
        <button class="btn btn-default btn-lg" ng-click="game.redeal()" type="button">New Game</button> 
      </div>
      <hr/>
      <div id="board"/>
    </div>
    </div>
  </body>
</html>
