body {
  text-align: center;
}

.line-pattern {
    fill: none;
    stroke-width: 1;
}

text {
  font: normal 12px arial;
}

.row {
    padding-bottom: 10px;
}

.card {
    font-size: 20px;
    border-radius: 10px; 
    border: 1px solid gray;
    width:  180px;
    height: 100px;
    stroke-width: 1;
    background-color: #eee;
    text-align:center;
    margin: 10px 60px 10px 60px;
}

.small {
    margin: 20px 10px 0px 10px;
    width:  90px;
    height: 50px;
}

.card:hover {
    cursor: pointer;
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.small:hover {
    cursor: auto; 
}

.empty {
    fill: none;
}

.solid.purple {
    fill: purple;
}
.solid.red {
    fill: red;
}
.solid.green {
    fill: #060;
}

.purple {
    stroke: purple;
}

.green {
    stroke: #060;
}

.red {
    stroke: red;
}

#error, #message {
    width: 30%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    font-size: .8em;
}

#last-set {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 160px;
}

.card:focus {
    outline: none;
/*
    box-shadow: 0 0 0 2px #f90; 
*/
}

.card.selected {
    box-shadow: 0 0 0 5px #9c9;
}

.player {
    font-size: .8em;
}

.dropdown-menu > li > a.me {
    font-weight: bold; !important
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
