body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.line-pattern {
    fill: none;
    stroke-width: 1;
}

#lines {
    patternUnits: userSpaceOnUse;
    x: 0;
    y: 0;
    width: 5;
    height: 5;
}

.row {
    padding-bottom: 10px;
}

.cell {
    height: 100px; 
    width: 180px; 
    margin-left: auto;
    margin-right: auto;
}

.card {
    font-size: 20px;
    border-radius: 10px; 
    border: 1px solid gray;
    width:  180px;
    height: 100px;
    stroke-width: 1;
    background-color: #eee;
}

.empty {
    fill: none;
}

.solid.purple {
    fill: purple;
}
.solid.red {
    fill: red;
}
.solid.green {
    fill: #060;
}

.purple {
    stroke: purple;
}

.green {
    stroke: #060;
}

.red {
    stroke: red;
}

.one_of_one {
    x: 72;
}
