body {
  padding-top: 50px;
}
.starter-template {
  padding: 30px 15px;
  text-align: center;
}

.line-pattern {
    fill: none;
    stroke-width: 1;
}

text {
  font: normal 12px arial;
}

h1 {
    margin-bottom: 20px;
}

.row {
    padding-bottom: 10px;
}

.card {
    font-size: 20px;
    border-radius: 10px; 
    border: 1px solid gray;
    width:  180px;
    height: 100px;
    stroke-width: 1;
    background-color: #eee;
    text-align:center;
    margin: 10px 60px 10px 60px;
}

.small {
    margin: 20px 10px 0px 10px;
    width:  90px;
    height: 50px;
}

.card:hover {
    cursor: pointer;
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.small:hover {
    cursor: auto; 
}

.selected {
    box-shadow: inset 0 0 10px #444;
}


.empty {
    fill: none;
}

.solid.purple {
    fill: purple;
}
.solid.red {
    fill: red;
}
.solid.green {
    fill: #060;
}

.purple {
    stroke: purple;
}

.green {
    stroke: #060;
}

.red {
    stroke: red;
}

#error, #message {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#players {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 160px;
}

#last-set {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 160px;
}
