body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.row {
    padding-bottom: 10px;
}

.cell {
    border-radius: 10px; 
    border: 1px solid gray;
    height: 100px; 
    width: 180px; 
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card {
    width:  180px;
    height: 100px;
    stroke-width: 1;
}

.empty {
    fill: none;
}

.solid.purple {
    fill: purple;
}
.solid.red {
    fill: red;
}
.solid.green {
    fill: #060;
}

.purple {
    stroke: purple;
}

.green {
    stroke: #060;
}

.red {
    stroke: red;
}

.one_of_one {
    x: 72;
}
